# Maven
target/
*.class

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env

# Docker

# Local
scripts/cleanup.sh

# HTTP client
http/http-client.private.env.json
