# Maven
target/
*.class

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env

# Docker
docker-data/

# Local doc
development.md
pitfalls.xml

# Local scripts helpers
scripts/
